.logs {
	position: relative;
	min-height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 20px;
}

.logs.expanded .expand a {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.logs.expanded pre {
	display: block;
	max-height: 100px;
	padding: 5px 10px;
}

.logs pre {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	max-height: 0px;
	margin: 0 auto;
	overflow-y: scroll;
	font-size: 12px;
	width: 100%;
	background: white;
	border-radius: 4px;
	padding: 0 10px;
	color: rgba(0, 0, 0, 0.6);
}

.expand {
	height: 21px;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	top: -20px;
	left: 0;
}

.expand label {
	font-size: 12px;
}

.expand a {
	font-size: 16px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: inline-block;
	margin-right: 5px;
}
