.noMatch {
	background-color: #fae4e3;
	font-weight: 600;
	color: #521511;
	border: 1px solid #ecc9c8;
	// border-radius: 1rem;
	padding: 0.2rem;
}

.match {
	background-color: #ddf4eb;
	font-weight: 600;
	color: #204834;
	border: 1px solid #add8c6;
	// border-radius: 1rem;
	padding: 0.2rem;
}
