.container {
	img {
		width: 100%;
		max-width: 300px;
		display: block;
	}
}

.info {
	border-radius: 0 0 5px 5px;
	list-style: none;
	background: rgba(0, 13, 51, 0.6);
	padding: 10px !important;
	display: flex;
	color: rgba(255, 255, 255, 0.8);
	flex: 1;
	margin-bottom: 20px !important;

	li {
		flex: 1;
	}
}

.label {
	text-align: right;
}

.colorChange {
	filter: invert(32%) sepia(74%) saturate(468%) hue-rotate(94deg) brightness(98%) contrast(91%);
}

.backgroundSwap {
	background-color: #000d3399;
}

.contrastBar {
	background-color: #9da5b9;
	div {
		overflow: visible;
		font-weight: 700;
		color: #fff;
	}
}

.sureLink {
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.probability {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	color: #fff;

	span {
		font-weight: 600;
	}
}

.noMatch {
	background-color: #fae4e3;
	font-weight: 600;
	color: #521511;
	border: 1px solid #ecc9c8;
	// border-radius: 1rem;
	padding: 0.2rem;
}

.match {
	background-color: #ddf4eb;
	font-weight: 600;
	color: #204834;
	border: 1px solid #add8c6;
	// border-radius: 1rem;
	padding: 0.2rem;
}

.predictionRow {
	max-height: 475px;
	overflow-y: scroll;
}
